@import "../css/0.css";
@import "../fonts/fonts.css";



%button_style{
    width: 120px;
    height: 40px;
    color: #00e0d0;
    font-family: "Hammersmith One";
    font-weight: 400;
    background-color: transparent;
    border: 1px solid #00e0d0 ;
    border-radius: 3px;
}
%container{
    width: 940px;
}
body{
    position: relative;
    height: 5300px;;
}
.top_header{
    height: 0;

    width: 940px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 35px;
    a{
        
        font-family: "Roboto - Black";
        font-size: 13px;
        font-weight: 400;
        margin-left: 15px;
        color: #ffffff;
        letter-spacing: 0.33px;
    }
    a:hover{
        color: #00e0d0;
    }
    

}
.header{
    width: 100%;
    height: 670px;
    background-image: url("../img/Headerfont.png"),url("../img/HeaderFontIMG.png");
    background-position: left,50%;
    background-size: cover;
    .const{
        margin: 0 auto;
        @extend %container;
        
        .bottom_header{
            padding-top: 163px;
            text-align: center;
            H2{
                margin-bottom: 21px;
            color: #ffffff;
            font-family: "Playfair Display - Black";
            font-style: 32px;
            font-weight: 400;
            letter-spacing: 0.32px;
            }
            .line{
                margin: 0 auto;
                width: 50px;
                height: 1px;
                background-color: #00e0d0;

            }
            .text_header{
                margin: 0 auto;
                margin-top: 22px;
                width: 771px;
                color: #ffffff;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 300;
                line-height: 24px;
                letter-spacing: 0.7px;

            }
            .button{
                margin-top: 50px;
                @extend %button_style
                    

            }
            .next{
                margin-top: 142px;
                
                button{
                    
                    background-color: transparent;
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                    border: 1px solid #00e0d0 ;
                    &:first-child{
                        background-color: #00e0d0;
                    }
                }
                
                    
                

            }

        }
    }
}
.home{
    .const{
        margin: 0 auto;
        padding-top: 70px;
        padding-bottom: 70px;
        @extend %container;
        display: flex;
        justify-content: space-between;
        img{
            margin-top: 1px;

        }
        .text{
            H2{
                color: #413d4b;
                font-family: "Playfair Display";
                font-size: 22px;
                font-weight: 700;
                letter-spacing: 1.1px;

            }
            .main_text{
                width: 538px;
                height: 146px;
                p{  
                    margin-top: 28px;
                    opacity: 0.75;
                    color: #413d4b;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 22px;
                    letter-spacing: 0.42px;

                }
            }
            .button{
                margin-top: 22px;
                @extend %button_style
            }
                

            }

        }
    }
.about{ 
        text-align: center;
        width: 100%;
        height: 550px;
        background-image: url("../img/Headerfont.png"),url("../img/backgraund2.png");
        background-position: left,50%;
        background-size: cover;
        img{
            margin-top: 202px;
        }
        H3{ margin: 0 auto;
            margin-top: 34px;
            width: 166px;
            height: 12px;
            color: #ffffff;
            font-family: "Roboto - Black";
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.8px;
    
        }
        
    
    }
    .expertise{
        height: 755px;
        .cont{
        .title3{
            padding-top: 71px;
            margin: 0 auto;
            width: 130px;
            color: #413d4b;
            font-family: "Playfair Display";
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 1.1px;
        }
        H4{
            margin: 0 auto;
            margin-top: 36px;
            margin-bottom: 18px;
            width: 411px;
            height: 15px;
            opacity: 0.75;
            color: #2f2d35;
            font-family: "Playfair Display";
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 1.05px;
    
        }
        .try{
            margin: 0 auto;
            width: 50px;
            height: 1px;
            background-color: silver;
        }
        .block{
            margin: 0 auto;
            margin-top: 35px;
            width: 940px;
            height: 500px;
        
            .line1{
                
                height: 50%;
                display: flex;
                
                .maket{
                        
                        border-bottom: 1px solid rgb(231, 231, 231);
                    
                    width: 33.3%;
                    height: 100%;
                    text-align: center;
                    img{
                        margin-top: 40px;
                        height: 50px;
                        
    
                    }
                    H3{
                        margin: 0 auto;
                        margin-top: 30px;
                        width: 253px;
                        height: 10px;
                        color: #413d4b;
                        font-family: "Roboto - Black";
                        font-size: 14px;
                        font-weight: 900;
                        letter-spacing: 0.7px;
    
                    }
                    p{
                        margin: 0 auto;
                        margin-top: 50px;
                        width: 254px;
                        height: 58px;
                        opacity: 0.75;
                        color: #333333;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 22px;
                        letter-spacing: 0.7px;
    }
                
            }
            .maket:not(.lastchild){
                border-right: 1px solid rgb(231, 231, 231);
            }
    
        }
        .line2{
                
            height: 50%;
            display: flex;
            
                
                .maket{
                
                
                width: 33.3%;
                height: 100%;
                text-align: center;
                img{
                    margin-top: 40px;
                    height: 50px;
                    
    
                }
                H3{
                    margin: 0 auto;
                    margin-top: 30px;
                    width: 253px;
                    height: 10px;
                    color: #413d4b;
                    font-family: "Roboto - Black";
                    font-size: 14px;
                    font-weight: 900;
                    letter-spacing: 0.7px;
    
                }
                p{
                    margin: 0 auto;
                    margin-top: 50px;
                    width: 254px;
                    height: 58px;
                    opacity: 0.75;
                    color: #333333;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 22px;
                    letter-spacing: 0.7px;
    
                }
            
        }
        .maket:not(.lastchild){
            border-right: 1px solid rgb(231, 231, 231);
        }
            
        }
        }
    }
    }
    .teams{
        width: 100%;
        height: 712px;
        background-image: url("../img/111.png"),url("../img/background3.png");
        background-position: left,100%;
        background-size: cover;
        .gram{
            text-align: center;
            width: 940px;
            margin: 0 auto;
            
            .out{
                padding-top: 71px;
                color: #ffffff;
                font-family: "Playfair Display";
                font-size: 22px;
                font-weight: 700;
                letter-spacing: 1.1px;
            }
            .lorem{
                margin-top: 16px;
                opacity: 0.75;
                color: #ffffff;
                font-family: "Playfair Display";
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 1.05px;
    
            }
            .try{
                margin: 0 auto;
                margin-top: 18px;
                width: 50px;
                height: 1px;
                background-color: #c0c0c0;
                
            }
            .people{
                width: 940px;
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                margin-top: 42px;
                
                
                div{
                    
                    width: 220px;
                    .name{
                        
                        height: 80px;
                        border: 1px solid rgba(117, 121, 120, 0.705);
                        H3{
                            margin: 0 auto;
                            margin-top: 15px;
                            color: #ffffff;
                            font-family: "Roboto - Black";
                            font-size: 14px;
                            font-weight: 400;
                            letter-spacing: 0.6px;
                            
                    
                        }
                        H4{
                            margin: 0 auto;
                            margin-top: 15px;
                            opacity: 0.6;
                            color: #fafafa;
                            font-family: Roboto;
                            font-size: 13px;
                            font-weight: 300;
    
                            
                        }
                    }
                }
            }
            .become{ 
                margin-top: 70px;
                        color: #f3f3f3;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 300;
                        letter-spacing: 0.7px;
            }
                    
                    .button{
                    margin-top: 40px;
                    @extend %button_style
                    
                }
                .button:hover{
                    border-color: silver;
                    color: silver;
                }
            }
        }
.works{
    text-align: center;
    .top{
        
        
        display: flex;
        width: 939px;
        margin: 0 auto;
        padding-top: 70px;
        justify-content: space-between;
        align-items: center;
        H3{ width: 152px;
            color: #413d4b;
            font-family: "Playfair Display";
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 1.1px;

        }
        .see{
            p{
                width: 193px;
                color: #413d4b;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.7px;

            
                .bird{
                    margin-left: 5px;
                
                }
            }
        }
    }
    .gmi{
        margin-top: 70px;
        width: 100%;

        img{
            width: 16.66%;
        }

    }
    .button{
        margin-top: 70px;
        margin-bottom: 70px;
        
        @extend %button_style

}
.button:hover{
    border-color: slateblue;
    color: slateblue;
}
}
.people_say{
    text-align: center;
    width: 100%;
    height: 500px;
    background-image: url("../img/00000.png"),url("../img/11111.png");
    background-position: left,100%;
    background-size: cover;
    div{
        width: 940px;
        margin: 0 auto;
        height: 100%;

    
    .block1{
        margin-top: 69px;

    }
    p{
        margin: 0 auto;
        margin-top: 30px;
        width: 770px;
        opacity: 0.85;
        color: #ffffff;
        font-family: "Playfair Display";
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.4px;

    }
    H2{
        margin: 0 auto;
        margin-top: 30px;
        color: #ffffff;
        font-family: "Roboto - Black";
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.7px;

    }
    H3{
        margin: 0 auto;
        margin-top: 30px;
        opacity: 0.7;
        color: #ffffff;
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
        line-height: 22px;

    }
    .faces{
        margin: 0 auto;
        margin-top: 50px;
        width: 391px;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .back{
            background-color: transparent;
            width: 11px;
            height: 21px;
            

        }
        
        .lastblock{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 330px;
        .block2{
            width: 45px;
            height: 45px;

        }
        .big{
            width: 70px;
            height: 70px;
        }
    }
        

    }
    


    }

}
.client{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 940px;
    height: 600px;
    

    .column1{
        width: 460px;
        
        .title2{
            padding-top: 50px;
            width: 276px;
            height: 16px;
            color: #413d4b;
            font-family: "Playfair Display";
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 1.1px;

        }
        form{
            margin-top: 35px;
            div{
                input{
                    padding-left: 15px;;
                    color: #413d4b;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 300;
                    letter-spacing: 0.7px;
                    margin-bottom: 23px;
                    border: 1.5px solid silver;
                    opacity: 0.5;
                    width: 460px;
                    height: 45px;
                    
                }
                input:focus{
                    border-color: #00e0d0;
                    border: 3px solid #00e0d0;
                    color: #00e0d0;
                    font-weight: 500;
                    &:focus::-webkit-input-placeholder {
                        color: #00e0d0;
                        }
                    &:focus:-moz-placeholder { /* Firefox 18- */
                        color: #00e0d0;  
                        }
                    &:focus::-moz-placeholder {  /* Firefox 19+ */
                        color: #00e0d0;  
                        }
                    &:focus:-ms-input-placeholder {  
                        color: #00e0d0;  
                        }
                }
                
            }
            .texteria{
                textarea{
                    resize: none;
                    padding-top: 15px;
                    padding-left: 14px;
                    width: 460px;
                    height: 200px;
                    border: 1.5px solid silver;
                    opacity: 0.5;
                    color: #413d4b;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 300;
                    letter-spacing: 0.7px;

                }
                textarea:focus{
                    border: 3px solid #00e0d0;
                    border-color: #00e0d0;
                    color: #00e0d0;
                    font-weight: 500;
                
                &:focus::-webkit-input-placeholder {
                    color: #00e0d0;
                    }
                &:focus:-moz-placeholder { /* Firefox 18- */
                    color: #00e0d0;  
                    }
                &:focus::-moz-placeholder {  /* Firefox 19+ */
                    color: #00e0d0;  
                    }
                &:focus:-ms-input-placeholder {  
                    color: #00e0d0;  
                    }
                }
            }
            
                button{
                    margin-top: 21px;
                    @extend %button_style
                }
                button:hover{
                color: #311d5e;
                border-color: #311d5e;
                }
            
        }
        }
    .column2{
        H2{
            padding-top: 48px;
            width: 238px;
            height: 16px;
            color: #413d4b;
            font-family: "Playfair Display";
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 1.1px;

        }
        .picture{
            margin-top: 45px;
            width: 381px;
            height: 409px;
            display: flex;
            justify-content: space-between;
            .zara{
                width: 162px;
                height: 409px;
                display: grid;
                justify-items: center;
            }
            .mango{
                display: grid;
                justify-items: center;
                width: 140px;
                height: 420px;
            }
        }
    
    }
    }
footer{
    
        width: 100%;
        height: 400px;
        background-image: url("../img/final.png"),url("../img/finalnot.png");
        
        background-position: left,100%;
        background-size: cover;
        .contact{
            width: 940px;
            margin: 0 auto;
            padding-top: 80px;
            
        
        .topfooter{
            display: flex;
            justify-content: space-between;
            .firstcolumn{
                
                
                p{
                    margin-top: 20px;
                    width: 283px;
                    color: #ffffff;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 26px;
                    letter-spacing: 0.35px;
                    opacity: 0.85;
    
                }
    
            }
            .secondcolumn{
                
                opacity: 0.85;
                H3{
                    margin-top: 10px;
                    color: #ffffff;
                    font-family: "Roboto - Black";
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 26px;
                    letter-spacing: 0.75px;
    
                }
                .up{
                    margin-top: 28px;
                    display: flex;
                    img{
                        margin-top: 3px;
                        
                    }
                    p{  
                        margin-left: 10px;
                        width: 237px;
                        color: #ffffff;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 26px;
                        letter-spacing: 0.35px;
    
                    }
                }
                .down{
                    
                    display: flex;
                    
                    img{
                        margin-top: 4px;
                        
    
                    }
                    p{
                        margin-left: 10px;
                        color: #ffffff;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 26px;
                        letter-spacing: 0.35px;
    
                    }
    
                }
    
        }
            .thirdcolumn{
                
                .stay{
                    margin-top: 10px;
                    color: #ffffff;
                    font-family: "Roboto - Black";
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 26px;
                    letter-spacing: 0.75px;
    
                }
                .finishbutton{
                    margin-top: 30px;
                    display: flex;
                input{
                    padding-left: 15px;
                    text-align: left;
                    width: 211px;
                    height: 45px;
                    background-color: transparent;
                    border: silver 1px solid;
                    opacity: 0.75;
                    color: #ffffff;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 26px;
                    letter-spacing: 0.7px;
                    
    
                }
                input:focus{
                    border-color: #ffffff;
                    border: 3px solid #ffffff;
                    color: #ffffff;
                    font-weight: 500;
                    &:focus::-webkit-input-placeholder {
                        color: #ffffff;
                        }
                    &:focus:-moz-placeholder { /* Firefox 18- */
                        color: #ffffff;  
                        }
                    &:focus::-moz-placeholder {  /* Firefox 19+ */
                        color: #ffffff;  
                        }
                    &:focus:-ms-input-placeholder {  
                        color: #ffffff;  
                        }
                }
                button:hover{
                    opacity: 0.7;
                    background-color: #fff;
                }
                .telegram{
                    
                    margin-left: 5px;
                        width: 70px;
                        height: 45px;
                        background-color: #fcfcfc;
                        opacity: 0.5;
                    img{width: 25px;
                        height: 25px;
    
                    }
                
                    }
    
                }
                }
            .items{
                margin-top: 17px;
                button:hover{
                    border-color: #ffffff;
                }
                button{
                    
                    width: 35px;
                    height: 35px;
                    border: 1px solid silver;
                    background-color: transparent;
                    border-radius: 50%;
                    img{
                        vertical-align: middle;
                    }
                    
                }
                
            }   
        }
    
        }
        .bottomfooter{
            margin: 0 auto;
            width: 950px;
            padding-top: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .footermenu{
                opacity: 0.85;
                display: flex;
                justify-content: space-between;
                width: 300px;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0.35px;
                a{
                    color: #ffffff;
                
    
                }
                a:hover{
                    opacity: 0.5;
                    color: rgb(0, 255, 255);
                }
    
            }
            p{
                width: 226px;
                color: #ffffff;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0.35px;
                opacity: 0.85;
    
    
            }
        }
}