@import url(../css/0.css);
@import url(../fonts/fonts.css);
.header .const .bottom_header .button, .home .const .text .button, .teams .gram .button, .works .button, .client .column1 form button {
  width: 120px;
  height: 40px;
  color: #00e0d0;
  font-family: "Hammersmith One";
  font-weight: 400;
  background-color: transparent;
  border: 1px solid #00e0d0;
  border-radius: 3px; }

.header .const, .home .const {
  width: 940px; }

body {
  position: relative;
  height: 5300px; }

.top_header {
  height: 0;
  width: 940px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 35px; }
  .top_header a {
    font-family: "Roboto - Black";
    font-size: 13px;
    font-weight: 400;
    margin-left: 15px;
    color: #ffffff;
    letter-spacing: 0.33px; }
  .top_header a:hover {
    color: #00e0d0; }

.header {
  width: 100%;
  height: 670px;
  background-image: url("../img/Headerfont.png"), url("../img/HeaderFontIMG.png");
  background-position: left,50%;
  background-size: cover; }
  .header .const {
    margin: 0 auto; }
    .header .const .bottom_header {
      padding-top: 163px;
      text-align: center; }
      .header .const .bottom_header H2 {
        margin-bottom: 21px;
        color: #ffffff;
        font-family: "Playfair Display - Black";
        font-style: 32px;
        font-weight: 400;
        letter-spacing: 0.32px; }
      .header .const .bottom_header .line {
        margin: 0 auto;
        width: 50px;
        height: 1px;
        background-color: #00e0d0; }
      .header .const .bottom_header .text_header {
        margin: 0 auto;
        margin-top: 22px;
        width: 771px;
        color: #ffffff;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.7px; }
      .header .const .bottom_header .button {
        margin-top: 50px; }
      .header .const .bottom_header .next {
        margin-top: 142px; }
        .header .const .bottom_header .next button {
          background-color: transparent;
          border-radius: 50%;
          width: 10px;
          height: 10px;
          border: 1px solid #00e0d0; }
          .header .const .bottom_header .next button:first-child {
            background-color: #00e0d0; }

.home .const {
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between; }
  .home .const img {
    margin-top: 1px; }
  .home .const .text H2 {
    color: #413d4b;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.1px; }
  .home .const .text .main_text {
    width: 538px;
    height: 146px; }
    .home .const .text .main_text p {
      margin-top: 28px;
      opacity: 0.75;
      color: #413d4b;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      letter-spacing: 0.42px; }
  .home .const .text .button {
    margin-top: 22px; }

.about {
  text-align: center;
  width: 100%;
  height: 550px;
  background-image: url("../img/Headerfont.png"), url("../img/backgraund2.png");
  background-position: left,50%;
  background-size: cover; }
  .about img {
    margin-top: 202px; }
  .about H3 {
    margin: 0 auto;
    margin-top: 34px;
    width: 166px;
    height: 12px;
    color: #ffffff;
    font-family: "Roboto - Black";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.8px; }

.expertise {
  height: 755px; }
  .expertise .cont .title3 {
    padding-top: 71px;
    margin: 0 auto;
    width: 130px;
    color: #413d4b;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.1px; }
  .expertise .cont H4 {
    margin: 0 auto;
    margin-top: 36px;
    margin-bottom: 18px;
    width: 411px;
    height: 15px;
    opacity: 0.75;
    color: #2f2d35;
    font-family: "Playfair Display";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.05px; }
  .expertise .cont .try {
    margin: 0 auto;
    width: 50px;
    height: 1px;
    background-color: silver; }
  .expertise .cont .block {
    margin: 0 auto;
    margin-top: 35px;
    width: 940px;
    height: 500px; }
    .expertise .cont .block .line1 {
      height: 50%;
      display: flex; }
      .expertise .cont .block .line1 .maket {
        border-bottom: 1px solid #e7e7e7;
        width: 33.3%;
        height: 100%;
        text-align: center; }
        .expertise .cont .block .line1 .maket img {
          margin-top: 40px;
          height: 50px; }
        .expertise .cont .block .line1 .maket H3 {
          margin: 0 auto;
          margin-top: 30px;
          width: 253px;
          height: 10px;
          color: #413d4b;
          font-family: "Roboto - Black";
          font-size: 14px;
          font-weight: 900;
          letter-spacing: 0.7px; }
        .expertise .cont .block .line1 .maket p {
          margin: 0 auto;
          margin-top: 50px;
          width: 254px;
          height: 58px;
          opacity: 0.75;
          color: #333333;
          font-family: Roboto;
          font-size: 14px;
          font-weight: 300;
          line-height: 22px;
          letter-spacing: 0.7px; }
      .expertise .cont .block .line1 .maket:not(.lastchild) {
        border-right: 1px solid #e7e7e7; }
    .expertise .cont .block .line2 {
      height: 50%;
      display: flex; }
      .expertise .cont .block .line2 .maket {
        width: 33.3%;
        height: 100%;
        text-align: center; }
        .expertise .cont .block .line2 .maket img {
          margin-top: 40px;
          height: 50px; }
        .expertise .cont .block .line2 .maket H3 {
          margin: 0 auto;
          margin-top: 30px;
          width: 253px;
          height: 10px;
          color: #413d4b;
          font-family: "Roboto - Black";
          font-size: 14px;
          font-weight: 900;
          letter-spacing: 0.7px; }
        .expertise .cont .block .line2 .maket p {
          margin: 0 auto;
          margin-top: 50px;
          width: 254px;
          height: 58px;
          opacity: 0.75;
          color: #333333;
          font-family: Roboto;
          font-size: 14px;
          font-weight: 300;
          line-height: 22px;
          letter-spacing: 0.7px; }
      .expertise .cont .block .line2 .maket:not(.lastchild) {
        border-right: 1px solid #e7e7e7; }

.teams {
  width: 100%;
  height: 712px;
  background-image: url("../img/111.png"), url("../img/background3.png");
  background-position: left,100%;
  background-size: cover; }
  .teams .gram {
    text-align: center;
    width: 940px;
    margin: 0 auto; }
    .teams .gram .out {
      padding-top: 71px;
      color: #ffffff;
      font-family: "Playfair Display";
      font-size: 22px;
      font-weight: 700;
      letter-spacing: 1.1px; }
    .teams .gram .lorem {
      margin-top: 16px;
      opacity: 0.75;
      color: #ffffff;
      font-family: "Playfair Display";
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 1.05px; }
    .teams .gram .try {
      margin: 0 auto;
      margin-top: 18px;
      width: 50px;
      height: 1px;
      background-color: #c0c0c0; }
    .teams .gram .people {
      width: 940px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      margin-top: 42px; }
      .teams .gram .people div {
        width: 220px; }
        .teams .gram .people div .name {
          height: 80px;
          border: 1px solid rgba(117, 121, 120, 0.705); }
          .teams .gram .people div .name H3 {
            margin: 0 auto;
            margin-top: 15px;
            color: #ffffff;
            font-family: "Roboto - Black";
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.6px; }
          .teams .gram .people div .name H4 {
            margin: 0 auto;
            margin-top: 15px;
            opacity: 0.6;
            color: #fafafa;
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300; }
    .teams .gram .become {
      margin-top: 70px;
      color: #f3f3f3;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.7px; }
    .teams .gram .button {
      margin-top: 40px; }
    .teams .gram .button:hover {
      border-color: silver;
      color: silver; }

.works {
  text-align: center; }
  .works .top {
    display: flex;
    width: 939px;
    margin: 0 auto;
    padding-top: 70px;
    justify-content: space-between;
    align-items: center; }
    .works .top H3 {
      width: 152px;
      color: #413d4b;
      font-family: "Playfair Display";
      font-size: 22px;
      font-weight: 700;
      letter-spacing: 1.1px; }
    .works .top .see p {
      width: 193px;
      color: #413d4b;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.7px; }
      .works .top .see p .bird {
        margin-left: 5px; }
  .works .gmi {
    margin-top: 70px;
    width: 100%; }
    .works .gmi img {
      width: 16.66%; }
  .works .button {
    margin-top: 70px;
    margin-bottom: 70px; }
  .works .button:hover {
    border-color: slateblue;
    color: slateblue; }

.people_say {
  text-align: center;
  width: 100%;
  height: 500px;
  background-image: url("../img/00000.png"), url("../img/11111.png");
  background-position: left,100%;
  background-size: cover; }
  .people_say div {
    width: 940px;
    margin: 0 auto;
    height: 100%; }
    .people_say div .block1 {
      margin-top: 69px; }
    .people_say div p {
      margin: 0 auto;
      margin-top: 30px;
      width: 770px;
      opacity: 0.85;
      color: #ffffff;
      font-family: "Playfair Display";
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.4px; }
    .people_say div H2 {
      margin: 0 auto;
      margin-top: 30px;
      color: #ffffff;
      font-family: "Roboto - Black";
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.7px; }
    .people_say div H3 {
      margin: 0 auto;
      margin-top: 30px;
      opacity: 0.7;
      color: #ffffff;
      font-family: Roboto;
      font-size: 13px;
      font-weight: 300;
      line-height: 22px; }
    .people_say div .faces {
      margin: 0 auto;
      margin-top: 50px;
      width: 391px;
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .people_say div .faces .back {
        background-color: transparent;
        width: 11px;
        height: 21px; }
      .people_say div .faces .lastblock {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 330px; }
        .people_say div .faces .lastblock .block2 {
          width: 45px;
          height: 45px; }
        .people_say div .faces .lastblock .big {
          width: 70px;
          height: 70px; }

.client {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 940px;
  height: 600px; }
  .client .column1 {
    width: 460px; }
    .client .column1 .title2 {
      padding-top: 50px;
      width: 276px;
      height: 16px;
      color: #413d4b;
      font-family: "Playfair Display";
      font-size: 22px;
      font-weight: 700;
      letter-spacing: 1.1px; }
    .client .column1 form {
      margin-top: 35px; }
      .client .column1 form div input {
        padding-left: 15px;
        color: #413d4b;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.7px;
        margin-bottom: 23px;
        border: 1.5px solid silver;
        opacity: 0.5;
        width: 460px;
        height: 45px; }
      .client .column1 form div input:focus {
        border-color: #00e0d0;
        border: 3px solid #00e0d0;
        color: #00e0d0;
        font-weight: 500; }
        .client .column1 form div input:focus:focus::-webkit-input-placeholder {
          color: #00e0d0; }
        .client .column1 form div input:focus:focus:-moz-placeholder {
          /* Firefox 18- */
          color: #00e0d0; }
        .client .column1 form div input:focus:focus::-moz-placeholder {
          /* Firefox 19+ */
          color: #00e0d0; }
        .client .column1 form div input:focus:focus:-ms-input-placeholder {
          color: #00e0d0; }
      .client .column1 form .texteria textarea {
        resize: none;
        padding-top: 15px;
        padding-left: 14px;
        width: 460px;
        height: 200px;
        border: 1.5px solid silver;
        opacity: 0.5;
        color: #413d4b;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.7px; }
      .client .column1 form .texteria textarea:focus {
        border: 3px solid #00e0d0;
        border-color: #00e0d0;
        color: #00e0d0;
        font-weight: 500; }
        .client .column1 form .texteria textarea:focus:focus::-webkit-input-placeholder {
          color: #00e0d0; }
        .client .column1 form .texteria textarea:focus:focus:-moz-placeholder {
          /* Firefox 18- */
          color: #00e0d0; }
        .client .column1 form .texteria textarea:focus:focus::-moz-placeholder {
          /* Firefox 19+ */
          color: #00e0d0; }
        .client .column1 form .texteria textarea:focus:focus:-ms-input-placeholder {
          color: #00e0d0; }
      .client .column1 form button {
        margin-top: 21px; }
      .client .column1 form button:hover {
        color: #311d5e;
        border-color: #311d5e; }
  .client .column2 H2 {
    padding-top: 48px;
    width: 238px;
    height: 16px;
    color: #413d4b;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.1px; }
  .client .column2 .picture {
    margin-top: 45px;
    width: 381px;
    height: 409px;
    display: flex;
    justify-content: space-between; }
    .client .column2 .picture .zara {
      width: 162px;
      height: 409px;
      display: grid;
      justify-items: center; }
    .client .column2 .picture .mango {
      display: grid;
      justify-items: center;
      width: 140px;
      height: 420px; }

footer {
  width: 100%;
  height: 400px;
  background-image: url("../img/final.png"), url("../img/finalnot.png");
  background-position: left,100%;
  background-size: cover; }
  footer .contact {
    width: 940px;
    margin: 0 auto;
    padding-top: 80px; }
    footer .contact .topfooter {
      display: flex;
      justify-content: space-between; }
      footer .contact .topfooter .firstcolumn p {
        margin-top: 20px;
        width: 283px;
        color: #ffffff;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        line-height: 26px;
        letter-spacing: 0.35px;
        opacity: 0.85; }
      footer .contact .topfooter .secondcolumn {
        opacity: 0.85; }
        footer .contact .topfooter .secondcolumn H3 {
          margin-top: 10px;
          color: #ffffff;
          font-family: "Roboto - Black";
          font-size: 15px;
          font-weight: 600;
          line-height: 26px;
          letter-spacing: 0.75px; }
        footer .contact .topfooter .secondcolumn .up {
          margin-top: 28px;
          display: flex; }
          footer .contact .topfooter .secondcolumn .up img {
            margin-top: 3px; }
          footer .contact .topfooter .secondcolumn .up p {
            margin-left: 10px;
            width: 237px;
            color: #ffffff;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: 0.35px; }
        footer .contact .topfooter .secondcolumn .down {
          display: flex; }
          footer .contact .topfooter .secondcolumn .down img {
            margin-top: 4px; }
          footer .contact .topfooter .secondcolumn .down p {
            margin-left: 10px;
            color: #ffffff;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: 0.35px; }
      footer .contact .topfooter .thirdcolumn .stay {
        margin-top: 10px;
        color: #ffffff;
        font-family: "Roboto - Black";
        font-size: 15px;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: 0.75px; }
      footer .contact .topfooter .thirdcolumn .finishbutton {
        margin-top: 30px;
        display: flex; }
        footer .contact .topfooter .thirdcolumn .finishbutton input {
          padding-left: 15px;
          text-align: left;
          width: 211px;
          height: 45px;
          background-color: transparent;
          border: silver 1px solid;
          opacity: 0.75;
          color: #ffffff;
          font-family: Roboto;
          font-size: 14px;
          font-weight: 300;
          line-height: 26px;
          letter-spacing: 0.7px; }
        footer .contact .topfooter .thirdcolumn .finishbutton input:focus {
          border-color: #ffffff;
          border: 3px solid #ffffff;
          color: #ffffff;
          font-weight: 500; }
          footer .contact .topfooter .thirdcolumn .finishbutton input:focus:focus::-webkit-input-placeholder {
            color: #ffffff; }
          footer .contact .topfooter .thirdcolumn .finishbutton input:focus:focus:-moz-placeholder {
            /* Firefox 18- */
            color: #ffffff; }
          footer .contact .topfooter .thirdcolumn .finishbutton input:focus:focus::-moz-placeholder {
            /* Firefox 19+ */
            color: #ffffff; }
          footer .contact .topfooter .thirdcolumn .finishbutton input:focus:focus:-ms-input-placeholder {
            color: #ffffff; }
        footer .contact .topfooter .thirdcolumn .finishbutton button:hover {
          opacity: 0.7;
          background-color: #fff; }
        footer .contact .topfooter .thirdcolumn .finishbutton .telegram {
          margin-left: 5px;
          width: 70px;
          height: 45px;
          background-color: #fcfcfc;
          opacity: 0.5; }
          footer .contact .topfooter .thirdcolumn .finishbutton .telegram img {
            width: 25px;
            height: 25px; }
      footer .contact .topfooter .items {
        margin-top: 17px; }
        footer .contact .topfooter .items button:hover {
          border-color: #ffffff; }
        footer .contact .topfooter .items button {
          width: 35px;
          height: 35px;
          border: 1px solid silver;
          background-color: transparent;
          border-radius: 50%; }
          footer .contact .topfooter .items button img {
            vertical-align: middle; }
  footer .bottomfooter {
    margin: 0 auto;
    width: 950px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .bottomfooter .footermenu {
      opacity: 0.85;
      display: flex;
      justify-content: space-between;
      width: 300px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.35px; }
      footer .bottomfooter .footermenu a {
        color: #ffffff; }
      footer .bottomfooter .footermenu a:hover {
        opacity: 0.5;
        color: cyan; }
    footer .bottomfooter p {
      width: 226px;
      color: #ffffff;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.35px;
      opacity: 0.85; }
