<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title Document
    body
        header.header
            .topheader
                img.logo(src="img/logo.png", alt="Logo")
                .menu 
                    ul 
                        a.green(href="#") HOME
                    ul 
                        a(href="#") ABOUT
                    ul
                        a(href="#") EXPERTISE
                    ul
                        a(href="#") TEAMS
                    ul
                        a(href="#") WORKS
                    ul
                        a(href="#") PEOPLE SAY
                    ul
                        a(href="#") CONTACT
            .bottomheader
                H2.title We Are Awesome Creative Agency
                img(src="img/slash.png", alt="___")
                p.textheader This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                button.button(type="submit") LEARN MORE
                .next
                    button.firstbutton(type="submit")
                    button(type="submit")
                    button(type="submit")
                    button(type="submit")
        main
            section.our_story
                img(src="img/biglogo.png", alt="#")   
                .text
                    h2 OUR STORY
                    .maintext
                        p.thisis This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus 
                        p.morbi Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    button.button(type="submit") LEARN MORE
            section.story
                img(src="img/play.png", alt="$")
                h3 WATCH OUR STORY
            section.expertise
                div    
                    H3 EXPERTISE
                    H4 Lorem ipsum dolor sit amet proin gravida nibh vel velit
                    div.try
                        img(src="img/s.png", alt="#")
                    table.block
                        tr.topline
                            th.maket
                                div
                                    img(src="img/1.png", alt="1")
                                H3 WEB DESIGN & DEVELOPMENT
                                p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                            th.maket
                                div
                                    img(src="img/2.png", alt="1")
                                H3 BRANDING IDENTITY
                                p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                            th.maket
                                div
                                    img(src="img/3.png", alt="1")
                                H3 MOBILE APP
                                p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                        tr.bottomline
                            th.maket
                                div 
                                    img(src="img/4.png", alt="1")
                                H3 SEARCH ENGINE OPTIMIZATION
                                p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                            th.maket
                                div
                                    img(src="img/5.png", alt="1")
                                H3 GAME DEVELOPMENT
                                p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                            th.maket
                                div
                                    img(src="img/6.png", alt="1")
                                H3 MADE WITH LOVE
                                p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
            section.meet
                    .gram    
                        H3.out MEET OUR AMAZING TEAM
                        H4.lorem Lorem ipsum dolor sit amet proin gravida nibh vel velit
                        .try
                            img(src="img/slash.png", alt="#")
                        .people
                            div
                                img(src="img/people.png", alt="#")
                                div.build    
                                    H3 SEMF UCUK
                                    H4 CEO & FOUNDER
                            div
                                img(src="img/people.png", alt="#")
                                div.build 
                                    H3 DIK ADALIN
                                    H4 ENGINEERING
                            div
                                img(src="img/people.png", alt="#")
                                div.build 
                                    H3 JENG KOL
                                    H4 DESIGNER
                            div
                                img(src="img/people.png", alt="#")
                                div.build 
                                    H3 PET ROMAK
                                    H4 MARKETING
                        p.become Become part of our dream team, let’s join us ! 
                        .class    
                            button.button(type="submit") WE ARE HIRING
            section.works
                .top
                    H3 OUR WORKS
                    .see
                        p See All Project in dribbble
                            img.bird(src="img/11.png", alt="#")
                .gmi
                    img(src="img/7.png", alt="#")
                    img(src="img/8.png", alt="#")
                    img(src="img/9.png", alt="#")
                    img(src="img/10.png", alt="#")
                    img(src="img/7.png", alt="#")
                    img(src="img/8.png", alt="#")
                    img(src="img/9.png", alt="#")
                    img(src="img/10.png", alt="#")
                    img(src="img/7.png", alt="#")
                    img(src="img/8.png", alt="#")
                    img(src="img/9.png", alt="#")
                    img(src="img/10.png", alt="#")
                button.button LOAD MORE
            section.ceo
                img.block1(src="img/55.png", alt="55")
                p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
                h2 JANE GALADRIEL
                h3 CEO TENGKUREP
                .faces
                        img.back(src="img/back.png", alt="#")
                        img.block2(src="img/_1.png", alt="#")
                        img.block2(src="img/_2.png", alt="#")
                        img.big(src="img/_3.png", alt="#")
                        img.block2(src="img/_4.png", alt="#")
                        img.block2(src="img/_5.png", alt="#")
                        img.back(src="img/forward.png", alt="#")
            section.client
                .column1
                    H2.title2 GIVE US A GOOD NEWS
                    form(action="#")
                        div
                            input(placeholder="Name", tabindex="1", name="Name", type="text")
                        div
                            input(placeholder="Email", tabindex="2", name="Email", type="text")
                        div
                            input(placeholder="Subject", tabindex="3", name="Subjecte", type="text")
                        .texteria
                            textarea(placeholder="Your Massage", name="Your Massage", tabindex="4")
                        
                        button.button SUMBIT

                .column2
                    H2 OUR HAPPY CLIENT
                    .picture
                        .zara
                            img(src="img/21.png", alt="#")
                            img(src="img/23.png", alt="#")
                            img(src="img/25.png", alt="#")
                            img(src="img/27.png", alt="#")
                            img(src="img/29.png", alt="#")
                        .mango
                            img(src="img/22.png", alt="#")
                            img(src="img/24.png", alt="#")
                            img(src="img/26.png", alt="#")
                            img(src="img/28.png", alt="#")
                            img(src="img/30.png", alt="#")
        footer
            .topfooter
                .firstcolumn
                    img(src="img/logo.png", alt="#")
                    p lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio sit amet auctror a ornare odio non mauris vitae erat in elit
                .secondcolumn
                    H3 OUR STUDIO
                    .contact
                        .up
                            img(src="img/31.png", alt="#")
                            p Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat 11480 - Indonesia
                        .down
                            img(src="img/32.png", alt="#")
                            p (+62) 21-2224 3333
                .thirdcolumn
                    H3.stay STAY IN TOUCH
                    .finishbutton
                        input(placeholder="Subscribe our newsletter", name="Subjecte", type="text")
                        button.telegram 
                            img(src="img/33.png", alt="#")
                    .items
                        button     
                            img(src="img/34.png", alt="#")
                        button 
                            img(src="img/35.png", alt="#")
                        button 
                            img(src="img/36.png", alt="#")
                        button 
                            img(src="img/37.png", alt="#")
                        button 
                            img(src="img/38.png", alt="#")
                        button 
                            img(src="img/39.png", alt="#")

            .bottomfooter
                .footermenu
                    a(href="#") HELP
                    a(href="#") TERMS & CONDITION
                    a(href="#") PRIVACY
                p Copyright © 2015 - Tajem Creative
