
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title Document
    body
        include ./pug/header
        main
            include ./pug/home
            include ./pug/about
            include ./pug/expertise
            include ./pug/teams
            include ./pug/works
            include ./pug/people_say
            include ./pug/client
        footer 
            include ./pug/footer