section.client
    .column1
        H2.title2 GIVE US A GOOD NEWS
        form(action="#")
            div
                input(placeholder="Name", tabindex="1", name="Name", type="text")
            div
                input(placeholder="Email", tabindex="2", name="Email", type="text")
            div
                input(placeholder="Subject", tabindex="3", name="Subjecte", type="text")
            .texteria
                            textarea(placeholder="Your Massage", name="Your Massage", tabindex="4")
            button.button SUMBIT
    .column2
        H2 OUR HAPPY CLIENT
        .picture
            .zara
                img(src="img/21.png", alt="#")
                img(src="img/23.png", alt="#")
                img(src="img/25.png", alt="#")
                img(src="img/27.png", alt="#")
                img(src="img/29.png", alt="#")
            .mango
                img(src="img/22.png", alt="#")
                img(src="img/24.png", alt="#")
                img(src="img/26.png", alt="#")
                img(src="img/28.png", alt="#")
                img(src="img/30.png", alt="#")