section.expertise#expertise
        .cont  
            H3.title3 EXPERTISE
            H4 Lorem ipsum dolor sit amet proin gravida nibh vel velit
            div.try
            .block
                .line1
                    .maket
                        div
                            img(src="img/1.png", alt="1")
                            H3 WEB DESIGN & DEVELOPMENT
                            p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                    .maket
                        div
                            img(src="img/2.png", alt="1")
                            H3 BRANDING IDENTITY
                            p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                    .maket.lastchild
                        div 
                            img(src="img/3.png", alt="1")
                            H3 MOBILE APP
                            p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.                        
                .line2
                    .maket
                        div 
                            img(src="img/4.png", alt="1")
                            H3 SEARCH ENGINE OPTIMIZATION
                            p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                    .maket
                        div
                            img(src="img/5.png", alt="1")
                            H3 GAME DEVELOPMENT
                            p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                    .maket.lastchild
                        div
                            img(src="img/6.png", alt="1")
                            H3 MADE WITH LOVE
                            p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.