.contact#contact  
    .topfooter
        .firstcolumn
            img(src="img/logo.png", alt="#")
            p lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio sit amet auctror a ornare odio non mauris vitae erat in elit
        .secondcolumn
            H3 OUR STUDIO
            .contacts
                .up
                    div
                        img(src="img/31.png", alt="#")
                    p Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat 11480 - Indonesia
                .down
                    div
                        img(src="img/32.png", alt="#")
                    p (+62) 21-2224 3333
        .thirdcolumn
            H3.stay STAY IN TOUCH
            .finishbutton
                input(placeholder="Subscribe our newsletter", name="Subjecte", type="text")
                button.telegram 
                    img(src="img/33.png", alt="#")
            .items
                button     
                    img(src="img/34.png", alt="#")
                button 
                    img(src="img/35.png", alt="#")
                button 
                    img(src="img/36.png", alt="#")
                button 
                    img(src="img/37.png", alt="#")
                button 
                    img(src="img/38.png", alt="#")
                button 
                    img(src="img/39.png", alt="#")
    .bottomfooter
        .footermenu
            a(href="#") HELP
            a(href="#") TERMS & CONDITION
            a(href="#") PRIVACY
        p Copyright © 2015 - Tajem Creative
