header.header#home
    .topheader
        img.logo(src="img/logo.png", alt="Logo")
        ul.menu 
            li 
                a.green(href="#home") HOME
            li 
                a(href="#about") ABOUT
            li
                a(href="#expertise") EXPERTISE
            li
                a(href="#teams") TEAMS
            li
                a(href="#works") WORKS
            li
                a(href="#people") PEOPLE SAY
            li
                a(href="#contact") CONTACT
    .bottomheader
        H2.title We Are Awesome Creative Agency
        .line
        p.textheader This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
        button.button(type="submit") LEARN MORE
        .next
            button.firstbutton(type="submit")
            button(type="submit")
            button(type="submit")
            button(type="submit")
