header.header#home
    .const
        
        .bottom_header
            H2.title We Are Awesome Creative Agency
            .line
            p.text_header This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
            button.button(type="submit") LEARN MORE
            .next
                button.first_button(type="submit")
                button(type="submit")
                button(type="submit")
                button(type="submit")
