section.people_say#people
    img.block1(src="img/55.png", alt="55")
    p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
    h2 JANE GALADRIEL
    h3 CEO TENGKUREP
    .faces
            button.back
                img(src="img/back.png", alt="#")
            .lastblock    
                img.block2(src="img/_1.png", alt="#")
                img.block2(src="img/_2.png", alt="#")
                img.big(src="img/_3.png", alt="#")
                img.block2(src="img/_4.png", alt="#")
                img.block2(src="img/_5.png", alt="#")
            button.back 
                img(src="img/forward.png", alt="#")
