.good
    .top_header
        img.logo(src="img/logo.png", alt="Logo")
        .menu 
            a.green(href="#home") HOME    
            a(href="#about") ABOUT
            a(href="#expertise") EXPERTISE
            a(href="#teams") TEAMS
            a(href="#works") WORKS
            a(href="#people") PEOPLE SAY
            a(href="#contact") CONTACT