section.teams#teams
    .gram    
        H3.out MEET OUR AMAZING TEAM
        H4.lorem Lorem ipsum dolor sit amet proin gravida nibh vel velit
        .try
        .people
            div
                img(src="img/people.png", alt="#")
                div.name    
                    H3 SEMF UCUK
                    H4 CEO & FOUNDER
            div
                img(src="img/people.png", alt="#")
                div.name 
                    H3 DIK ADALIN
                    H4 ENGINEERING
            div
                img(src="img/people.png", alt="#")
                div.name 
                    H3 JENG KOL
                    H4 DESIGNER
            div
                img(src="img/people.png", alt="#")
                div.name 
                    H3 PET ROMAK
                    H4 MARKETING
        p.become Become part of our dream team, let’s join us ! 
        button.button(type="submit") WE ARE HIRING